.counter-container{
    border: 1px solid;
    border-radius: 0.5rem;
    padding: 0.5rem;
    background-color: lightgray;
    margin-bottom: 0.5rem;
}
.counter-button{
    border: 1px solid;
    border-radius: 0;
   
}
.counter-title{
    color: darkblue;
}


 .counter-value{
    font-size: xx-large;
    font-weight: bold;
    margin: 0 1rem 0 1rem;
 }